.heard {
  position: relative;
  width: 1920px;
  height: 652px;
  top: 10px;
  left: 0;
  z-index: 15;
}

.heard img {
  object-fit: cover;
  width: 100%;
  height: 100%
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 14px;
    position: relative;
    top: 10px;
    min-height: 80vh;
  }

  h1{
    justify-content: center
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 622px;
    margin-top: 16px;
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  form label {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  form input {
    display: block;
    width: 50px;
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  form button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0069d9;
  }
  .category-selector {
    margin-bottom: 20px;
  }
  
  .category-selector h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .category-selector label {
    display: block;
    margin-bottom: 10px;
  }
  
  .category-selector input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .category-selector p {
    font-size: 14px;
    margin-top: 10px;
  }
  .cate{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .errs{
    display: flex;
    align-items: center;
    color: #ff0000;
  }
  .lab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .lab input{
    width: 500px;
  }
  .lab textarea{
    margin-left: 20px;
  }
  .labcont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  select{
    font-size: 18px;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }