.navbar{
    width: 100%;
    color: black;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0 4rem;
}

.navbar ul li a{
    text-decoration: none;
}