.navbar{
    width: 100%;
    background-color: 0583F2;
    font-size: 20px;
}

.navbar ul {
    margin-top: -.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 1.5rem 4rem;
}

.navbar ul li a{
    text-decoration: none;
    font-size: var(--h3);
}