.categoryoptions {
    margin: 0 0 1rem 0;
}

.selectedcategories button {
    margin: 10px;
    background: var(--bg-clr-yellow);
    font-family: 'Londrina Solid', cursive;
    padding: 10px;
    color: #fff;
    border: none;
}
.categoryoptions button {
    position: relative;
    margin: 10px;
    height: 55px;
    background: var(--bg-clr-complementary);
    color: #fff;
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;
    border: none;
    padding: 0.2rem 0.6rem;
}

.selectedcategories button:hover {
    cursor: pointer;
    background: var(--bg-clr-yellow);
}

.categoryoptions button:hover {
    cursor: pointer;
    background-color: var(--bg-clr-yellow);
}

.categoryoptions button:disabled {
    cursor: default;
}

.categoriestitle{
    font-size: 1.8rem;
}