.categoryoptions {
    margin: 0 0 1rem 0;
}

.selectedcategories button {
    margin: .1rem;
    border-radius: 3px;
    background-color: transparent;
}

.categoryoptions button {
    margin: .5rem;
    border-radius: 3px;
    background-color: transparent;
}

.selectedcategories button:hover {
    cursor: pointer;
    background-color: grey;
}

.categoryoptions button:hover {
    cursor: pointer;
    background-color: grey;
}

.categoryoptions button:disabled {
    cursor: default;
}

.categoriestitle{
    font-size: 1.8rem;
}