.cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 19rem;
    width: 30rem;
    margin: 5%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}
.left{
    background-color: rgba(242, 183, 5, 0.877);
    height: 19rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left .img {
    width: 80%;
    border-radius: 3px;
}

.right{
    width: 65%;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inf{
    color: black;
    padding: 6px;
}

h1{
    font-size: 16px;
}
p{
    font-size: 14px;
}
.upbar_card{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 3px;
    margin: 1px;
    width: 80%;
}
.upbar_card button{
    color: black;
    background: none;
    box-shadow: none;
    border: none;
}