.cont {
  
    border: 3px solid rgba(255, 255, 255, 0.465);
    width: 30%;
    border-radius: 6px;
    padding: 2px;
    margin: 8px;
    background-color: rgba(227, 227, 227, 0.877);
    text-align: center;
    color: black;
}

.img {
    width: 50%;
}
.upbar_card{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-radius: 3px;
    margin: 1px;
    
}