.home {
    background-color: var(--bg-clr-primary);
    text-align: center;
    height: 100%;
}
.welc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.home h2 {
    font-size: var(--h2);
}

.home h3 {
    font-size: var(--h3);
}

.welcomecard {
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    background: var(--bg-clr-complementary);
    border-radius: 0 0 100px 100px;
}

.welcome {
    color: var(--font-clr-primary);
    margin-top: 100px;
    margin-block-end: 5px;
    font-size: 50px;
}
.kids img{
    width: 600px;
}
.capaci {
    color: var(--font-clr-yellow);
    margin-top: 5px;
    margin-block-end: 5px;
    font-size: 50px;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.login {
    margin-top: 30px;
    display: inline-block;
    margin-left: 10rem;
}

.login a {
    color: #ffffff;
    background-color: var(--bg-clr-secondary);
    text-decoration: none;
    font-size: var(--h3);
    font-weight: 500;
    border-radius: 20px;
    padding: 10px 15px;
}

.login a:visited {
    color: #ffffff;
    text-decoration: none;
}

.our {
    color: dodgerblue;
    margin-block-end: 5px;
    font-size: var(--h2);
}

p {
    margin-top: 0px;
    color: var(--font-clr-primary);
}

.all {
    color: dodgerblue;
}

.all span {
    color: var(--font-clr-yellow);
}

.homecard {
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: #ffffff;
    width: 300px;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.homecards {
    width: 90%;
    height: auto;
    margin: 30px auto auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.iconcardbg {
    border-radius: 50%;
    width: fit-content;
    margin: 0 auto;
    padding: .5rem;
    background-color: var(--bg-clr-complementary);
}


.study {
    color: dodgerblue;
    margin-top: 4rem;
}

.study span {
    color: var(--font-clr-yellow);
}

.ult {
    text-align: center;
    margin-bottom: 3rem;
}

.ult a:visited {
    color: var(--font-clr-primary);
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 4rem 0 4rem 32vw;
}

.stat {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: fit-content;
}

.stat h2 {
    font-size: var(--h2);
    background: -webkit-linear-gradient(264deg, rgba(242, 122, 5, 1) 0%, rgba(255, 198, 28, 1) 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.stat p {
    color: var(--font-clr-primary);
    margin: 0;
    padding: 0;
}