.sortbtns{
    margin: 1rem 0 0 0;
}

.sortbtns h2{
    font-size: 1.8rem;
}

.sortbtns button{
    margin: 10px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: var(--bg-clr-complementary);
    color: #fff;
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;
    padding: 0.2rem 0.6rem;
}

.sortbtns button:hover{
    cursor: pointer;
    background-color: var(--bg-clr-yellow);
}