.cursospopulares {
    font-size: 22pt;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.cardscursos {
    display: inline-flex;

}
@media screen and (max-width: 768px){
    .cursospopulares{
        font-size: 18px;
    }
    .cardscursos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 18px;
    }
}