.active_courses_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.active_courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.active_courses_container h2{
    text-align: center;
}