.teacher_container{
    display: flex;
    flex-direction: row;
}

.teacher_courses{
    display: flex;
    flex-direction: column;
}

.teacher_sidebar{
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: 100%;
}
/*
.teacher_sidebar a{
    margin: 10px;
    background: var(--bg-clr-yellow);
    font-family: 'Londrina Solid', cursive;
    padding: 10px;
    color: #fff;
    border: none;
}*/