.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.heard {
    position: relative;
    width: 1920px;
    height: 652px;
    top: 145px;
    left: 0;
    z-index: 15;
}

.heard img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.opinions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: -900px;
    left: -400px;
    width: 950px;
    height: 869px;
    z-index: 18;
}

.opinions .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.opinions .buttons button {
    width: 200px;
    height: 63px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: white;
    margin: 0px 20px 83px 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.opinions .buttons button:hover {
    background-color: #0583F2;
}

.startbox {
    position: relative;
    display: flex;
    flex-direction: column;
}

.point {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 764px;
    background: rgba(157, 204, 255, 0.3);
    border-radius: 20px;
}

.opinions .ranking {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 199px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 50px;
}

.top h3 {
    color: rgba(0, 0, 0, 0.5);
}

.opinions .ranking .start {
    display: flex;
}

.fastart {
    color: #F2B705;
    height: 22px;
}

.start {
    display: flex;
    flex-direction: column;
    margin: 50px 45px;
}

.start h3 {
    margin: 10px 0px;
}

.progressbar5,
.progressbar4,
.progressbar3,
.progressbar2,
.progressbar1 {
    width: 432px;
    height: 8px;
    background: #d9d9d9;
    border-radius: 5px;
}

.progress5 {
    width: 70%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress4 {
    width: 30%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress3 {
    width: 20%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress2 {
    width: 0%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress1 {
    width: 7%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-left: 50px;
}

.commenttop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userstart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.photo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d9d9d9;
}

.namestart {
    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.time h4{
    margin: 10px;
}
.hrcomment hr{
    width: 840px;
    margin: 24px 0;
}
.namestart h1 {
    color: #000;
    font-size: 20px;
    margin: 3px 0;
}

.namestart h3 {
    color: #696969;
    font-size: 18px;
    font-weight: lighter;
}

.detail {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    position: relative;
    background: white;
    border: solid 30px white;
    border-radius: 20px;
    top: -200px;
    left: 600px;
    z-index: 22;
}

.detail h1 {
    font-size: 45px;
}

.detail h2 {
    color: #2F2F2F;
    font-size: 30px;
}

.studybutton button {
    background-color: #0583F2;
    width: 443px;
    height: 63px;
    border-radius: 12px;
    color: white;
    margin: 0px 20px 20px 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.x2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #0583F2;
}

.x2 h4 {
    font-size: 14px;
    color: rgba(47, 47, 47, 0.5);
    margin: 0 0 0 9px;
}

hr {
    border: 1px solid rgba(47, 47, 47, 0.5);
    width: 500px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tw,
.fac,
.you,
.ins,
.tele,
.wsp {
    width: 32px;
    height: 32px;
    background: #696984;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tw:hover {
    background: #0583F2;
    cursor: pointer;
}

.fac:hover {
    background: #3b5998;
    cursor: pointer;
}

.you:hover {
    background: #f20505;
    cursor: pointer;
}

.ins:hover {
    background: #e1306c;
    cursor: pointer;
}

.tele:hover {
    background: #0088cc;
    cursor: pointer;
}

.wsp:hover {
    background: #31f205;
    cursor: pointer;
}

.more {
    background: rgba(157, 204, 255, 0.3);
    width: 1920px;
    height: 1084px;
    position: relative;
    top: -800px;
}