.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background: #FFFFFF;
}

.heard {
    padding: 0 50px;
    background-image: url("https://res.cloudinary.com/dbbmgnhqf/image/upload/v1677262061/CAPACITECHKIDS/images/project/ca3_ixldy5.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.heard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.leftandringh {
    display: flex;
    flex-direction: row;
    width: 95%;
}

button {
    cursor: pointer;
}



.opinions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: fit-content;
    padding-bottom: 2rem;
    z-index: 18;
    background: rgba(157, 204, 255, 0.3);
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 2rem;
}

.opinions .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    margin: 2rem auto 0;
}

.opinions .buttons button {
    width: 200px;
    height: 63px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: white;
    margin: 0px 20px 83px 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.opinions .buttons button:hover {
    background-color: #0583F2;
}

.startbox {
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.point {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    border-radius: 20px;
}

.opinions .ranking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 150px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
}

.top h3 {
    color: rgba(0, 0, 0, 0.5);
}

.opinions .ranking .start {
    display: flex;
}

.fastart {
    color: #F2B705;
    height: 22px;
}

.start {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5%;
}

.start h3 {
    margin: 10px 0px;
}

.progressbar5,
.progressbar4,
.progressbar3,
.progressbar2,
.progressbar1 {
    height: 8px;
    background: #d9d9d9;
    border-radius: 5px;
}

.progress5 {
    width: 70%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress4 {
    width: 30%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress3 {
    width: 20%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress2 {
    width: 0%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.progress1 {
    width: 7%;
    height: 100%;
    background: #0583F2;
    border-radius: 5px;
}

.comments {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 0 auto;
    width: fit-content;
    
}

.commenttop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.userstart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.photo {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #d9d9d9;
}

.namestart {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time h4 {
    margin: 10px;
}

.hrcomment hr {
    width: 95%;
    margin: 3% 0;
}

.namestart h1 {
    color: #000;
    font-size: 20px;
    margin: 3px 0;
}

.namestart h3 {
    color: #696969;
    font-size: 18px;
    font-weight: lighter;
}

.detail {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-content: center;
    align-items: stretch;
    position: relative;
    background: white;
    border: solid 30px white;
    border-radius: 20px;
    top: -200px;
    z-index: 22;
    margin-left: 5%;
}

.detail h1 {
    font-size: 35px;
}

.detail h2 {
    color: #2F2F2F;
    font-size: 30px;
}

.studybutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0583F2;
    height: 63px;
    border-radius: 12px;
    margin: 0px 20px 20px 20px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.studybutton a{
    color: white;
}

.studybutton:hover {
    background: #0583f2be;
    cursor: pointer;
}

.x2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    color: #0583F2;
}

.x2 h4 {
    font-size: 14px;
    color: rgba(47, 47, 47, 0.5);
    margin: 0 0 0 9px;
}

hr {
    border: 1px solid rgba(47, 47, 47, 0.5);
    width: 500px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tw,
.fac,
.you,
.ins,
.tele,
.wsp {
    width: 32px;
    height: 32px;
    background: #696984;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tw:hover {
    background: #0583F2;
    cursor: pointer;
}

.fac:hover {
    background: #3b5998;
    cursor: pointer;
}

.you:hover {
    background: #f20505;
    cursor: pointer;
}

.ins:hover {
    background: #e1306c;
    cursor: pointer;
}

.tele:hover {
    background: #0088cc;
    cursor: pointer;
}

.wsp:hover {
    background: #31f205;
    cursor: pointer;
}

.more {
    background: rgba(157, 204, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.similarcourses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.loginbtn{
    margin: 1rem 1rem;
}

@media screen and (max-width: 768px){
    .heard {
        padding: 0 50px;
        background-image:none;
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
