.general_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.general_container h1{
  color: var(--bg-clr-complementary);
}
.donar{
  margin: 0 auto;
}