.general_container {
  display: flex;
  flex-direction: column;
  height: 9000px;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left_container {
  position: relative;
  left: 10%;
  width: 40%;
}

.left_container{
  width: 40%;
}

.general_container {
  height: 100%;
}
.donar{
  margin: 0 auto;
}