.resetbtn{
    background: var(--bg-clr-complementary);
    color: #fff;
    margin: 10px;
    width: 150px;
    height: 50px    ;
    border-radius: 15px;
    border: none;
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;
}

.resetbtn:hover{
    cursor: pointer;
    background: var(--bg-clr-yellow);
}