.coursescontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.courses{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.courses .cursosnoencontrados{
    margin: 0 auto;
}

.courses .cargandocourses{
    margin: 0 auto;
}

.coursestitle{
    text-align: center;
}

.heard {
    position: relative;
    width: 100vw;
    height: 652px;
    z-index: 15;
    margin-bottom: 2rem;
}

.heard img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-right: 2px solid var(--bg-clr-complementary);
    padding-right: 10px;
}

.filters button{
    font-size: 1.35rem;
}

@media screen and (max-width: 768px) {
    .heard img {
        display: none;
    }
    .heard {
        height: 10px;
    }
    .coursescontainer{
        display:block;
        flex-direction:initial;
        justify-content: space-evenly;
        width: 100%;
    }
    .filters{
        display: inline;
    }
    .filters button{
        height: 30px;
        font-size: 1rem;
    }
    .courses{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}

