.courses{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(246, 243, 243);
    width: 100%;
}

.filters{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 15rem;
    position: absolute;
    left: 0;
    right: 1;
    padding: 4rem 1.5rem 0 1.5rem;
}